:root {
  --color-primary: #0d6efd;
  --color-border: gray;
  --color-border-cer: #d6c08d;
}
a {
  text-decoration: none;
  color: grey;
}

.border-left-cer {
  border-left: 1px solid var(--color-border-cer) !important;
}
.border-bottom-cer {
  border-bottom: 1px solid var(--color-border-cer) !important;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

.brand-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.hover-effect:hover {
  text-decoration: none;
  color: white !important;
  background-color: var(--color-primary);
}
#info .section-content {
  display: none;
}
.card-text {
  display: none;
}
.view-more {
  display: none;
}
/* CSS TIMELINE */
.timeline .title::before {
  position: absolute;
  content: "\2022";
  font-size: 1.3em;
  top: -5px;
  left: 0;
  color: var(--color-primary);
}
.timeline .section-content {
  padding-left: 25px;
  position: relative;
}

/* EXPERIENCE BAR */
.exp-bar {
  width: 60px;
  display: inline-block;
  padding: 0;
  border: 3px solid gray;
  border-radius: 90px/100px;
}
.card {
  min-height: 125px;
}
#hobby .content {
  display: flex;
  flex-wrap: wrap;
}
#hobby .content div {
  text-align: center;
  flex: 1;
  white-space: nowrap;
  margin: 10px;
}
#hobby .content div i {
  color: var(--color-primary);
  display: inline-block;
  width: 60px;
  height: 60px;
  flex: 1;
  padding-top: 15px;
  font-size: 1.5em;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}
